@page "/EditServer/{id:int}"
@inject NavigationManager navman
<h3>EditServer</h3>
<br />
<br />
<div class="row row-cols-xl-6">
    <div class="col"> <p>Server ID: </p> </div>
    <div class="col"><strong>@CurrentServer.Id</strong></div>
</div>
<div class="row row-cols-xl-6">
    <div class="col"> <p>Server Name: </p> </div>
    <div class="col"><strong>@CurrentServer.Name</strong></div>
</div>
<NavLink href="/Servers">Back</NavLink>
@code {
    [Parameter]
    public int Id { get; set; }

    public Server CurrentServer { get; set; }

    protected override void OnParametersSet()
    {
        this.CurrentServer = ServersRepository.GetServerById(Id);
    }
   
}