@page "/servers"
@rendermode InteractiveServer
@inject NavigationManager NavMan

<CityListComponent></CityListComponent>
<br />
<br />

<h3>Servers listing</h3>
<br />
<br />
<div class="input-group col-md-3">
    <input type="text" class="form-control" placeholder="Search Servers" @bind-value="SearchServer" @bind-value:event="oninput" />
</div>
<ServersComponent @rendermode="InteractiveServer" CityName="@CurrentCity"></ServersComponent>
<a href="/AddServer">Add New</a>
<p>
    <button class="btn btn-outline-secondary" @onclick="@(() =>
                                                          {
                                                          AllServers.Insert(0, new Server { Name = "new server", City = "GLOBAL" });
                                                          })">
        Add Server 2
    </button>
</p>
@code{
    public string SearchServer { get; set; }
    private List<Server> AllServers = ServersRepository.GetServres();
    public string CurrentCity { get; set; }
}
