@page "/timer"
@rendermode InteractiveServer
<div>
	<h1>@display.ToString("000")</h1>
</div>
<h3>TimerComponent</h3>

@code {
	Random r = new Random();
	public int display;
	protected override void OnAfterRender(bool firstRender)
	{
		display = r.Next(0, 500);
		base.OnAfterRender(firstRender);
		if (firstRender)
		{
			StateHasChanged();
			Timer timer = new Timer(_ =>
			{
				base.InvokeAsync(Refresh);
			}, null, 0, 500);
		}


	}
	void Refresh()
	{
		//display = r.Next(0, 100);
		StateHasChanged();
	}
}