<h3>ServerComponent</h3>
<p>
    Server @srv.ServerName status is @srv.IsOnline
</p>

@code {
    private ServerManagement.Models.Server srv = new ServerManagement.Models.Server { ServerId = 0, ServerName = "Server 1", ServerCity="Toronto" };
}
