<h3>ServerComponent</h3>
<p>
    Server @srv.ServerName located in @srv.ServerCity status is <span style="color: @(srv.IsOnline==true?"green":"red")">@(srv.IsOnline == true? "Online": "Offline")</span> 
</p>

@code {
    private Server srv = new Server { ServerId = 0, ServerName = "Server 1", ServerCity="Toronto" };
}
